@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --heading-ff: "Literata", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  background-color: #f6f1ee;
  font-family: "Manrope", sans-serif;
}

button {
  transition: all 200ms ease-in-out;
}

/* Stats */
dt {
  font-family: var(--heading-ff);
}

/* Form */
h2 {
  font-family: var(--heading-ff);
}

.subtitle {
  margin-top: 0.5rem !important;
}

.textareas-container {
  margin-top: 4rem !important;
  margin-bottom: 6rem !important;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  color: #6a6a6a;
}

.copyright {
  padding-right: 0.2rem;
}

footer a:link,
footer a:visited {
  text-decoration: underline;
  color: inherit;
  padding-left: 0.2rem;
  transition: 200ms ease-in;
}

footer a:hover,
footer a:active {
  color: #3d3737;
}
