@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --bg-color: "#F6F1EE";
  --body-color: "#272121";
  --primary-color: "#C63D2F";
  --secondary-color: "#FFBB5C";
  --dark-orange: "#E25E3E";
  --light-orange: "#FF9B50";
  --heading-ff: "Literata", serif;
  --body-ff: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--body-ff);
}
